<div class="wraper">
  <div class="header">
    <div class="cabeza">
      <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
      <div class="titulo">
        <p>Add expense to</p>
        <p style="font-weight: bold">Groceries</p>
      </div>
    </div>
    <div class="resultado">
      <p>45.9</p>
    </div>
  </div>
  <form class="content">
    <div class="signos">
      <button>/</button>
      <button>x</button>
      <button>-</button>
      <button>+</button>
    </div>

    <div class="numeros">
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
      <button>6</button>
      <button>7</button>
      <button>8</button>
      <button>9</button>
      <button><i class="fa-regular fa-calendar"></i></button>
      <button>0</button>
      <button>.</button>
    </div>
    <div class="operaciones">
      <button><i class="fa-solid fa-delete-left"></i></button>
      <button>c</button>
      <button><i class="fa-solid fa-check"></i></button>
    </div>
  </form>
  <p class="footer">Thursday March, 10, 2022</p>
</div>
